name: Publish GitHub Action

on:
  push:
    branches:
      - "main"

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: GitHub Tag Bump
        uses: anothrNick/github-tag-action@1.36.0
        id: tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: minor
          WITH_V: true
          DRY_RUN: true
      - name: List Release
        run: echo "This will create the release '${{ steps.tag.outputs.new_tag }}'"
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          body: ${{ github.event.head_commit.message }}
          tag: ${{ steps.tag.outputs.new_tag }}
      - name: Update major version release tag
        uses: haya14busa/action-update-semver@v1
        with:
          tag: ${{ steps.tag.outputs.new_tag }}
          message: ${{ github.event.head_commit.message }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
